name: Benchmarks

on:
  push:

permissions:
  contents: write
  pages: write

jobs:
  benchmark:
    name: Run benchmarks
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-24.04", "ubuntu-24.04-arm"]
        cgo: [0, 1]
    runs-on: ${{ matrix.os }}
    env:
      CGO_ENABLED: ${{ matrix.cgo }}
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.ref }}
          fetch-depth: 0

      - uses: actions/setup-go@v6
        with:
          go-version: "1.24"

      - name: Run benchmarks
        run: go test -bench=. -count=1 -benchtime=200ms ./... 2>&1 | tee bench-output.txt

      - name: Store benchmark results
        uses: royalcat/go-continuous-benchmarking@master
        with:
          output-file-path: bench-output.txt
          github-token: ${{ secrets.GITHUB_TOKEN }}
          auto-push: "true"
          max-items-in-chart: "100"
