name: Benchmarks

on:
  push:
    branches: [master]

permissions:
  contents: write
  pages: write

jobs:
  benchmark:
    name: Run benchmarks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout action to separate directory
        run: git clone https://github.com/yourusername/go-continuous-benchmarking.git /opt/go-continuous-benchmarking

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-go@v5
        with:
          go-version: "1.24"

      - name: Run benchmarks (WITHOUT CGO)
        run: CGO_ENABLED=0 go test -bench=. -benchmem -count=1 -benchtime=200ms ./... 2>&1 | tee bench-output.txt

      - name: Store benchmark results
        uses: /opt/go-continuous-benchmarking
        with:
          output-file-path: project/bench-output.txt
          github-token: ${{ secrets.GITHUB_TOKEN }}
          auto-push: "true"
          max-items-in-chart: "100"
          cgo: false

      - name: Run benchmarks (WITH CGO)
        run: CGO_ENABLED=1 go test -bench=. -benchmem -count=1 -benchtime=200ms ./... 2>&1 | tee bench-output.txt

      - name: Store benchmark results
        uses: /opt/go-continuous-benchmarking
        with:
          output-file-path: project/bench-output.txt
          github-token: ${{ secrets.GITHUB_TOKEN }}
          auto-push: "true"
          max-items-in-chart: "100"
          cgo: true
